.app {
  background-color: black;
  padding: 30px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.todo-list {
  width: 600px;
}

.todo{
  background-color:#333;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
  padding: 5px 10px;
  color: #fff;
  height: 48px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  /* let delete icon on the right */
  justify-content: space-between;
}

.todo:hover .removeIcon{
  display: block;
}

.removeIcon {
  display: none;
}